
body {
    background: radial-gradient(ellipse at center, #2ea0e8 0%,#384268 80%); /* W3C */
}

.paper-wrapper {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.paper {
    display:block;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top:0;
    left:0;
    border: 1px solid #eee;
    padding: 30px;
    box-shadow: 3px 3px 8px #ccc;
    background: #fff;
}

.paper-appear {
    opacity: 0.01;
    transform: scale(0.5);
}

.paper-appear.paper-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: all .3s ease-out;
}

.paper-enter {
    opacity: 0.01;
    transform: scale(0.5) translate(200%, 0);
}

.paper-enter.paper-enter-active {
    opacity: 1;
    transform: scale(1) translate(0, 0);
    transition: all .3s ease-out;
}

.paper-leave {
    opacity: 1;
    transform: scale(1) translate(0, 0);
}

.paper-leave.paper-leave-active {
    opacity: 0.01;
    transform: scale(0.5) translate(-200%, 0);
    transition: all .5s ease-out;
}

.app-area {
    background: white;
    padding: 10px;
    border-radius: 10px;
}





.gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ea0e8+0,384268+80 */
background: #2ea0e8; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #2ea0e8 0%, #384268 80%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2ea0e8), color-stop(80%,#384268)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #2ea0e8 0%,#384268 80%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #2ea0e8 0%,#384268 80%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #2ea0e8 0%,#384268 80%); /* IE10+ */
background: radial-gradient(ellipse at center, #2ea0e8 0%,#384268 80%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ea0e8', endColorstr='#384268',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

